## Introduction to SCIKIT-LEARN
This ntebook demonstrate some of the most useful functions of the beautiful Scikit-Learn library.

What we'll going to cover

# Lets listify the contents
What were convering :
1. An end-to-end Scikit-Learn Workflow
2. Getting the data ready
3. Fit the model/algoritm for our problem
4. Evaluating the model
5. Improve a model
6. Save and load a trained model
7. Putting all together

0. An end to end SCIKIT-LEARN workflow

In [35]:
# 1.Getting the data ready
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
heart_disease=pd.read_csv('heart-disease.csv')

In [10]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [11]:
# Create x
X=heart_disease.drop("target",axis=1)
# Create y
y=heart_disease["target"]

In [12]:
# Choose the right model
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()

# We'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [13]:
#  3. Fit the model to the training data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2)

In [15]:
clf.fit(X_train,y_train);

In [ ]:
# Make a prediction
y_label=clf.predict(np.array())

In [18]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
15,50,0,2,120,219,0,1,158,0,1.6,1,0,2
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1
213,61,0,0,145,307,0,0,146,1,1.0,1,0,3
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,54,0,2,108,267,0,0,167,0,0.0,2,0,2
267,49,1,2,118,149,0,0,126,0,0.8,2,3,2
268,54,1,0,122,286,0,0,116,1,3.2,1,2,2
278,58,0,1,136,319,1,0,152,0,0.0,2,2,2
119,46,0,0,138,243,0,0,152,1,0.0,1,0,2

In [19]:
y_preds=clf.predict(X_test)

In [20]:
y_preds

array([1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1], dtype=int64)

In [21]:
y_test

15     1
158    1
242    0
213    0
151    1
      ..
123    1
267    0
268    0
278    0
119    1
Name: target, Length: 61, dtype: int64

In [23]:
# Evaluate the model on training data and test data
clf.score(X_train,y_train)

1.0

In [25]:
clf.score(X_test,y_test)

0.7868852459016393

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [27]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.83      0.69      0.75        29
           1       0.76      0.88      0.81        32

    accuracy                           0.79        61
   macro avg       0.80      0.78      0.78        61
weighted avg       0.79      0.79      0.78        61

In [28]:
confusion_matrix(y_test,y_preds)

array([[20,  9],
       [ 4, 28]], dtype=int64)

In [29]:
accuracy_score(y_test,y_preds)

0.7868852459016393

In [32]:
# 5.improve the model
# Try different amount of n_estimatores
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators..")
    clf=RandomForestClassifier(n_estimators=i).fit(X_train,y_train)
    print(f"Model accuracy on the test set:{clf.score(X_test,y_test)*100}")
    print()

Trying model with 10 estimators..
Model accuracy on the test set:75.40983606557377

Trying model with 20 estimators..
Model accuracy on the test set:77.04918032786885

Trying model with 30 estimators..
Model accuracy on the test set:78.68852459016394

Trying model with 40 estimators..
Model accuracy on the test set:75.40983606557377

Trying model with 50 estimators..
Model accuracy on the test set:75.40983606557377

Trying model with 60 estimators..
Model accuracy on the test set:75.40983606557377

Trying model with 70 estimators..
Model accuracy on the test set:77.04918032786885

Trying model with 80 estimators..
Model accuracy on the test set:77.04918032786885

Trying model with 90 estimators..
Model accuracy on the test set:77.04918032786885

In [33]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("ranom_forest_model_1.pkl","wb"))

In [34]:
loaded_model=pickle.load(open("ranom_forest_model_1.pkl","rb"))
loaded_model.score(X_test,y_test)

0.7704918032786885

## 1. Getting our data ready to be used with machine learning
Three main things we have to do:
1. Split the data into features and lebels (Usually `x` & `y`)

2. Filling (also called imputing) or disregarding missing values
    
3. Converting non-numerical values to numerical values (also called feature encoding)

In [36]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [37]:
X=heart_disease.drop("target",axis=1)
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [38]:
y=heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

In [39]:
# Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [40]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [41]:
X.shape

(303, 13)

# 1.1 Make sure its all numerical

In [43]:
car_sales=pd.read_csv('car-sales-extended.csv')
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [44]:
len(car_sales)

1000

In [45]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [ ]:
# Split the data